:root {
  --primary-bg-color: rgb(58, 59, 60);
  --medium-primary-bg-color: #242526;
  --light-primary-bg-color: rgb(78, 79, 80);
  --primary-color: #0185ff;
}

.page-container {
  height: 100vh;
  background-color: #19191b;
}

.navigation {
  position:  fixed;
  width: 100%;
}

.navbar-right .dropdown-toggle::after{
  content: none;
}

/* -----------Nav Left----------------------------- */
.navbar-brand__logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 44px;
}

.navbar-search__input {
  width: 240px;
  border-radius: 16px;
  border-color: var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  color: #fff;
}
.navbar-search__input::placeholder {
  color: #a09e8f;
}
.navbar-search__input:focus {
  box-shadow: none;
  border-color: var(--primary-bg-color);
  background-color: var(--primary-bg-color);
  color: #fff;
}

.navbar-search-back-btn {
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 18px;
  background-color: transparent;
  border-color: transparent;
  display: none;
  /* width: 0px;
  transition-property: width;
  transition-duration: 0.8s; */
}

/* ------------------Nav Center------------------------- */
.navbar-center__item {
  color: #b1b2b8;
  font-size: 20px;
  padding: 10px 40px 12px;
  border-radius: 12px;
}
.navbar-center__item:hover {
  color: #b1b2b8;
  background-color: var(--primary-bg-color);
}

/* ------------------------------Nav Right------------------------ */
.navbar-right__item-container {
  margin-left: 6px;
}
.navbar-right__item {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: var(--primary-bg-color);
  border-radius: 20px;
}
.navbar-right__item:hover {
  background-color: var(--light-primary-bg-color);
}
.navbar-right__icon {
  color: #e5e7eb;
}

/* ----------------nav right user---------------- */
.navbar-right__user {
  background-position: center;
  background-size: cover;
}
.navbar-right__dropdown-wrap {
  background-color: var(--primary-bg-color);
  position: relative;
  
}
.navbar-right__dropdown-wrap .dropdown-item {
  color: #fff;
}
.navbar-right__dropdown-wrap .dropdown-item:hover {
  background-color: var(--light-primary-bg-color);
}

/* --------------- nav right friend-------------------- */
.friend-card {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.friend-card .friend-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-right: 8px;
}

.friend-card .friend-name {
  color: #fff;
  font-weight: 600;
}

.friend-chatbox {
  position: relative;
}
.friend-chatbox__overlay {
  position: absolute;
  left: 0 ; right: 0; top: 0; bottom: 0;
  z-index: 1;
}

/* ----------------------chat box--------------- */
#chatboxs-container {
  position: fixed;
  bottom: 0;
  right: 16px;
  display: flex;
}
.chatbox-container {
  /* display: none; */
  margin-right: 16px;
  width: 325px;
  height: 460px;
  background-color: var(--medium-primary-bg-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chatbox__header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px 4px 12px;
  border-bottom: 1px solid var(--primary-bg-color);
  /* box-shadow: 0 4px 0px 0 var(--light-primary-bg-color); */
}

.chatbox__friend-card .friend-avatar {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.chatbox-btn {
  color: var(--primary-color);
  cursor: pointer;
  padding: 6px 8px 4px;
  border-radius: 32px;
  border-color: transparent;
}
.chatbox-btn:hover {
  background-color: var(--light-primary-bg-color);
  color: var(--primary-color);
  border-color: transparent;
}
.chatbox__close-btn {
  font-size: 20px;
  line-height: 1;
}
/* --------------------------------------------------------- */

.chatbox__messages {
  height: 350px;
}

/* --------------------------------------------------------- */
.chatbox__text-box {
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.chatbox__form-wrap {
  display: flex;
  flex-grow: 1;
}
.chatbox__input {
  flex-grow: 1;
  margin: 0 12px;
  background-color: var(--light-primary-bg-color);
  border-color: var(--light-primary-bg-color);
  border-radius: 24px;
  color: #fff;
}
.chatbox__input:focus {
  background-color: var(--light-primary-bg-color);
  border-color: var(--light-primary-bg-color);
  box-shadow: none;
  color: #fff;
}
.chatbox__send-message_btn {
  margin-right: 12px;
}

